<%
  # set defaults
  exhibitions ||= @exhibitions
%>

<div class="flex-1">
  <!-- search/filter summary -->
  <% if params[:s].present? || params[:dates].present? || params[:type].present? %>
    <div class="mb-4">
      <% if params[:s].present? %>
        <h2 class="text-xl font-semibold">
          Results for "<%= params[:s] %>"
          <span class="text-gray-600 font-normal">
            (<%= exhibitions.total_count %>)
          </span>
        </h2>
      <% elsif params[:dates].present? %>
        <h2 class="text-xl font-semibold">
          <%= params[:dates] %>
          <span class="text-gray-600 font-normal">
            (<%= exhibitions.total_count %>)
          </span>
        </h2>
      <% elsif params[:type].present? %>
        <h2 class="text-xl font-semibold">
          <%= params[:type].titleize %>
          <span class="text-gray-600 font-normal">
            (<%= exhibitions.total_count %>)
          </span>
        </h2>
      <% end %>
    </div>
  <% end %>

  <% if exhibitions.present? && exhibitions.count > 0 %>
    <% exhibitions.group_by { |e| e.start_date&.year }.each do |year, year_exhibitions| %>
      <% if year.present? %>
        <h2 class="text-2xl text-gray-500 font-semibold mb-6 mt-8 first:mt-0"><%= year %></h2>
      <% end %>
      
      <div class="space-y-6 mb-8">
        <% year_exhibitions.each do |exhibition| %>
          <%= render partial: 'shared/exhibition_card', locals: { exhibition: exhibition } %>
        <% end %>
      </div>
    <% end %>

    <!-- pagination -->
    <% if exhibitions.total_pages > 1 %>
      <div class="flex justify-center">
        <%= paginate exhibitions, theme: 'twitter-bootstrap-4' %>
      </div>
    <% end %>
  <% else %>
    <div class="text-center py-16">
      <i class="fa-solid fa-building-columns text-6xl text-gray-300 mb-4"></i>
      <p class="text-xl text-gray-600">No exhibitions found</p>
      <% if params[:s].present? || params[:dates].present? || params[:type].present? %>
        <%= link_to "Clear filters", request.path, class: "inline-block mt-4 text-black hover:text-blue-400" %>
      <% end %>
    </div>
  <% end %>
</div>
