<%= link_to artwork_path(artwork.slug), class: "group block" do %>
  <div class="relative mb-3 bg-gray-100 overflow-hidden">
    <% if artwork.cloudinary_public_id.present? %>
      <%= image_tag artwork.thumbnail_url, 
          alt: artwork.title,
          class: "object-cover" %>
    <% else %>
      <div class="aspect-square w-full flex items-center justify-center">
        <i class="fa-solid fa-image text-4xl text-gray-300"></i>
      </div>
    <% end %>
  </div>
  
  <div class="space-y-1">
    <h3 class="font-semibold text-lg group-hover:text-blue-800"><%= artwork.title %></h3>
    
    <% if artwork.year.present? %>
      <p class="text-sm group-hover:text-blue-400"><%= artwork.year_range %></p>
    <% end %>
    
    <% if artwork.medium.present? %>
      <p class="text-sm group-hover:text-blue-400"><%= truncate(artwork.medium, length: 60) %></p>
    <% end %>
  </div>
<% end %>