<%
  indian_collection ||= false
  artwork_path_url = indian_collection ? indian_collection_artwork_path(artwork.slug) : artwork_path(artwork.slug)
  date_color = indian_collection ? 'text-yellow-700' : 'text-gray-500'
%>

<%= link_to artwork_path_url, class: "group row-span-2 grid gap-0", style: "grid-row: span 2; grid-template-rows: subgrid;" do %>
  <div class="mb-3 self-end">
    <% if artwork.cloudinary_public_id.present? %>
      <%= image_tag artwork.large_url, 
          alt: artwork.title,
          class: "w-full object-cover" %>
    <% else %>
      <div class="w-full aspect-square flex items-center justify-center">
        <i class="fa-solid fa-image text-4xl text-gray-300"></i>
      </div>
    <% end %>
  </div>
  
  <div class="space-y-1">
    <h3 class="font-semibold text-lg group-hover:text-blue-800"><%= artwork.title %></h3>
    <% if artwork.year_range.present? %>
      <p class="text-sm <%= date_color %> group-hover:text-blue-400"><%= artwork.year_range %></p>
    <% end %>
  </div>
<% end %>
