<%= link_to resource.path, class: "group block" do %>
  <div class="relative mb-3 bg-white overflow-hidden">
    <% if resource.cloudinary_public_id.present? %>
      <%= image_tag resource.thumbnail_url, 
          alt: resource.title,
          class: "object-cover" %>
    <% else %>
      <div class="aspect-[3/2] w-full flex items-center justify-center bg-gray-100">
        <i class="fa-solid fa-file-lines text-4xl text-gray-300"></i>
      </div>
    <% end %>
  </div>
  
  <div class="space-y-1">
    <% if resource.year.present? %>
      <p class="text-sm group-hover:text-blue-400"><%= resource.year %></p>
    <% end %>

    <h3 class="font-semibold text-lg group-hover:text-blue-800">
      <% if resource.video_type.present? && resource.video_id.present? %>
        <span>
          <i class="fa-solid fa-video text-md"></i> 
        </span>
      <% else %>
        <span>
          <i class="fa-solid fa-volume-high text-md"></i> 
        </span>
      <% end %>
      <%= resource.title %>
    </h3>
    
    <% if resource_preview(resource).present? %>
      <p class="text-sm text-pretty text-gray-600 group-hover:text-blue-400"><%= resource_preview(resource) %></p>
    <% end %>
  </div>
<% end %>