<%
  indian_collection ||= false
  date_color = indian_collection ? 'text-yellow-700' : 'text-gray-500'
%>

<%= link_to resource.path, class: "group row-span-2 grid", style: "grid-row: span 2; grid-template-rows: subgrid; gap: 0.75rem;" do %>
  <div class="self-end">
    <% if resource.resource_images.any? %>
      <%= image_tag resource.resource_images.first.thumbnail_url, 
          alt: resource.title,
          class: "object-cover" %>
    <% else %>
      <div class="aspect-[3/2] w-full flex items-center justify-center bg-gray-100">
        <i class="fa-solid fa-file-lines text-4xl text-gray-300"></i>
      </div>
    <% end %>
  </div>
  
  <div class="">
    <% unless indian_collection %>
      <% if resource.year.present? %>
        <p class="text-sm">
          <% if resource.publisher.present? %>
            <span class="group-hover:text-blue-800"><%= resource.publisher %>, </span>
          <% end %>
          <span class="<%= date_color %> group-hover:text-blue-400"><%= resource.year %></span>
        </p>
      <% end %>
    <% end %>

    <h3 class="font-semibold text-lg group-hover:text-blue-800">
      <% if resource.video_type.present? && resource.video_id.present? %>
        <i class="fa-solid fa-video text-md"></i>
      <% elsif !indian_collection %>
        <i class="fa-solid fa-volume-high text-md"></i>
      <% end %>
      <%= resource.title %>
    </h3>

    <% if resource.author.present? %>
      <h3 class="font-semibold text-lg <%= date_color %> group-hover:text-blue-400">
        by <%= resource.author %>
      </h3>
    <% end %>

    <% if indian_collection && resource.year.present? %>
      <p class="text-sm pb-4">
        <% if resource.publisher.present? %>
          <span class="group-hover:text-blue-800"><%= resource.publisher %>, </span>
        <% end %>
        <span class="<%= date_color %> group-hover:text-blue-400"><%= resource.year %></span>
      </p>
    <% end %>

    <% if resource_preview(resource).present? %>
      <p class="text-sm text-pretty group-hover:text-blue-800"><%= resource_preview(resource) %></p>
    <% end %>
  </div>
<% end %>
