<div class="lg:flex lg:gap-12">
  <div class="lg:w-2/3 mb-8 lg:mb-0">
    <%= render 'resources/media', resource: resource %>
  </div>

  <div class="lg:w-1/3">
  <nav class="mb-4">
    <ul class="flex items-center text-sm space-x-2">
      <li><%= link_to "Indian Collection", indian_collection_root_path, class: "text-yellow-700 hover:text-blue-800" %></li>
      <li><span class="text-yellow-700">›</span></li>
      <li><%= link_to "Resources", indian_collection_resources_path, class: "text-yellow-700 hover:text-blue-800" %></li>
    </ul>
  </nav>

    <%= render 'resources/header', resource: resource, centered: false, indian_collection: true %>
    <%= render "shared/share_button", indian_collection: true %>
  </div>
</div>
